# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.scannerwork
# dependencies
/node_modules
/public/uploads
/ridepro-api
/src/logs/
/.pnp
.pnp.js
package-lock.json
yarn.lock
.vscode
debug.log
# testing
/coverage

# production
/build
build.zip
/src/logs

# misc
.DS_Store
.env.local
.env
.env.development
.env.production
.env.example.development
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/